.card{
    border-radius: 15px;
    height:20em;
    width: 20em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    text-decoration: none ;

}

.cardImage{
    width: 7em;
    height: 7em;

}

.cardInfo{
    text-decoration: none;
}